<header>
    <a href="/" class="brand">Usaha Mikro Kecil</a>
    <div class="navigation">
        <div class="navigation-items">
            <a href="/profil">Profil</a>
        </div>
    </div>      
</header>