<header>
    <a href="/" class="brand">Usaha Mikro Kecil</a>
    <div class="bx bx-menu" id="menu-icon"></div>  
    
    <ul class="navbar">
        <li><a href="/">Beranda</a></li>
        <li><a href="/profil">Profil</a></li>
        <li><a href="/register">Pendaftaran</a></li>
        <!-- Halaman data produk termasuk laporan penjualan produk -->
        <li><a href="/product-data">Data Produk</a></li>
        <!-- Halaman transaksi termasuk laporan keuangan -->
        <li><a href="/transaction">Transaksi</a></li>
    </ul>
</header>